#root {
    display: flex;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    // font-weight: 500;
}

.container {
    max-width: none;
    padding: 1.25em 1.75em;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 1em;
    padding: 0.75em 1em;
    border-width: 1px;
    border-style: solid;

    &.btn-primary {
        background-color: var(--primary);
        border-color: var(--light);
    }

    &.btn-info {
        background-color: var(--light-primary);
        border-color: var(--primary);
    }
}

.progress {
    display: flex;
    background-color: var(--light-gray);
    border-radius: 5px;
    overflow: hidden;

    .progress-bar {
        background-color: var(--danger);
        height: 5px;
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.7em;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.label-item {
    position: relative;
    padding: 0 0.5em;
    margin-right: 0.5em;
    color: var(--color-secondary);

    &:not(:last-of-type) {
        &:after {
            position: absolute;
            top: 0;
            right: -0.3em;
            height: 100%;
            width: 1px;
            background-color: var(--light-gray);
            content: '';
        }
    }
}

.panel {
    border-radius: 1.5em;

    >div {
        position: relative;
        padding: 1.25em 1.5em;

        &:not(:last-of-type) {
            &:after {
                position: absolute;
                bottom: 0em;
                right: 0;
                width: 100%;
                height: 1px;
                background-color: var(--light-gray);
                content: '';
            }
        }
    }
}

.icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: var(--bg);
    border-radius: 1em;
}

.card {
    position: relative;
    background-color: var(--light);
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 1em;
    overflow: hidden;
    .card-image {
        display: flex;
        position: relative;
        padding-top: 70%;
        >div {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        img {
            flex: 1;
            margin-top: -70%;
            width: 100%;
            height: 100%;
        }
    }
    .card-body {
        padding: 1em 1em;
    }
    .card-tool-bar {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        background-color: transparent;
        outline: 0;
        border: 0;
        z-index: 2;
        path {
            fill: var(--bg);
        }
    }
}

.select {
    display: flex;
    justify-content: space-between;
    min-width: 180px;
    padding: 0.5em 1em;
    border: 1px solid var(--light-gray);
    border-radius: 2em;
    span {
        font-size: var(--font-size-sm);
    }
    select {
        border: 0;
        outline: 0;
    }
}